<div id="container">
  <h1>Problem Statement</h1>
  <div class="neon">
    <p class="puffIn">Our problem is set in the planet of Lengaburu, in the distant distant galaxy of Tara B.
      After the recent war with neighbouring planet Falicornia, King Shan has exiled the Queen of Falicornia
      for 15 years.
    </p>
    <p class="puffIn">Queen Al Falcone is now in hiding. But if King Shan can find
      her before the years are up, she will be exiled for another 15 years.
    </p>
    <p class="puffIn">King Shan has received intelligence that Al Falcone is in hiding in one of these 6 planets -
      DonLon, Enchai, Jebing, Sapir, Lerbin & Pingasor. However he has limited resources at his disposal &
      can send his army to only 4 of these planets.</p>
    <p class="puffIn">We need to help King Shan find Al Falcone.</p>
  </div>
  <button [routerLink]="'/finding-falcone'"> Let's Find Al Falcone</button>
</div>

